.main-settings-bar {
    height: 100%;
    width: 300px;
    padding: 10px 25px;
    box-sizing: border-box;
    border-left: 1px solid black;
    transition: all linear 300ms;
    position: absolute;
    right: -300px;
    top: 0;
    z-index: 2;
    background: #fff;
}

.main-settings-bar .auth-link {
    display: block;
}

.main-settings-bar.opened {
    right: 0;
}