html, body {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}
#root {
  height: 100%;
}
.App {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.App-header {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-header .logo {
   width: 70px;
   height: 70px;
   border:1px solid black;
   border-radius: 50%;
   display: inline-block;
 }

.App-header .settings-launcher {
  height: 70px;
  width: 70px;
  line-height: 94px;
  text-align: center;
}
.App-header .menuImage {
  width: 45px;
  height: 35px;
  cursor: pointer;
}

.icon-wrapper {
  /*background: url(./src/img/icons/menu.png);*/
}

.main--content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advertise--list-block {
  border: 1px solid black;
  width: 50%;
  min-height: 200px;
}

.postInfo {
  min-height: 50px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.postInfo .postDate{
  height: 30px;
  border-bottom: 1px solid black;
}

.postInfo p.info {
  display: inline-block;
  margin-right: 10px;
}

.postInfo .name {
  font-weight: bold;
  font-size: 20px;
}

.postInfo .postIndicator, .postInfo .paymentIndicator {
  display: inline-block;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  line-height: 18px;
}


